.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: black;
  background: #f5f5f5;
}

.codeblockwrapper {
  max-width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  min-width: 500px;
  border: 3px dotted blue;
  margin-left: 5px;
  border-radius: 5px;
}
